<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{plantilla/template :: head}">
</head>
<body>
    <header th:replace="~{plantilla/template :: header}"></header>

    <div class="container">
        <h1 th:text="${titulo}"></h1>
        <table class="table table-striped-columns table-bordered border-primary border border-3">
            <thead>
            <tr class="text-uppercase">
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>EU / NOT EU</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="office : ${offices}">
                <td th:text="${office.pk_OfficeID}"></td>
                <td th:text="${office.nameOffice}"></td>
                <td class="text-uppercase" th:text="${office.countryOffice}"></td>
                <td th:text="${office.typeOffice}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="~{plantilla/template :: footer}" ></footer>
</body>
</html>