<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>CRUD Office</title>
</head>
<body>
    <!-- BARRA NAVEGACION -->
        <header th:fragment="header">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/" >Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/sucursal/getAll}">Listado sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </header>
        <!-- CONTENIDO -->
        <div id="content-wrap">

        </div>
        <!-- PIE DE PAGINA -->
        <footer class="bg-info text-center text-lg-start fixed-bottom" th:fragment="footer">

            <div class="text-center p-3 font-weight-bold" style="background-color: rgba(120, 120, 120);">
                <p>Copyright GodReorx &copy; - 2024</p>
            </div>

            <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
            <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
            <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

        </footer>
</body>
</html>