<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>CRUD Office</title>
    <style>
        h1 {
          background: linear-gradient(to bottom, #ffffff 0%, #999966 100%);
          color: black;
          font-size: 16px;
          padding: 5px 10px;
          max-height: 20px;
          overflow: hidden;
        }
    </style>
</head>
<body>
    <!-- BARRA NAVEGACION -->
        <header th:fragment="header">
            <h1>OFFICE LIST</h1>
        </header>
        <!-- CONTENIDO -->
        <div id="content-wrap">

        </div>
        <!-- PIE DE PAGINA -->
        <footer th:fragment="footer">

            <div style="background-color: rgba(120, 120, 120);">
                <p>Copyright GodReorx &copy; - 2024</p>
            </div>
        </footer>
</body>
</html>